<div class="cointainer" *ngIf="allMatches">
    <ng-container *ngFor="let match of allMatches">
        <div class="row teamPlayer" *ngFor="let player of match.MatchPlayers  | playerFilterByRole: role">
            <div class="col-md-2">
                <img src="{{player.PlayerImage}}" width="70" height="70" class="rounded img" />
            </div>
            <div class="matchCardInfo_9f857 col-md-4" >
                <div class="col-xs-12"> {{player.FirstName}}  {{player.LastName}}</div>
                <div class="timer__text col-xs-12">
                    <div>{{player.Address}} | Points: {{player.Points}}  </div>
                </div>
            </div>
            <div class="col-md-4">  <input type="checkbox" id="playerCheck" (change)="stateChanged(player.PlayerId)"  [(ngModel)]="player.IsSelected"/></div>
            <div class="col-md-2 text-right">
              <a href="javascript:void(0)" class="captainC">C</a> <a href="javascript:void(0)" class="captainVC">VC</a>
            </div>
        </div>
    </ng-container>

</div>

<div class="create-team__team-selector__footer text-upper ctFooter_07b1f">

    <div class="create-team__team-selector__footer-action-container text-upper">
        <form  (ngSubmit)="onSubmit()">
              <a routerLink="/login">  
            <button type="submit">Save Team</button></a>
         </form>
    </div>
  </div>