<div class="col-md-4 cricketorTeamList">
    <a routerLink="/dashboard">
      <span class="fas fa-arrow-left arrowLeft"></span>
    </a>
    <div class="cricketTeamTitle">
  
      <h4> CONTEST</h4>
    </div>
    <div class="alert alert-light" role="alert" *ngIf="allMatches">
      <div class="row" *ngFor="let match of allMatches">
        <div class="col-md-4">{{match.Name}}</div>
        <div class="col-md-4" style="color: #c51d23">{{match.Date}}</div>
        <div class="col-md-4 text-right">
          <a href="https://skillup.dream11.com/cricket/afgh-vs-ban-2nd-t20i-pre-match-analysis/">GURU</a>
        </div>
      </div>
    </div>
  </div>
  <div class="matchListContainer col-md-4"  >
  
      <p-tabView>
          <p-tabPanel header="WINNINGS">
            <div style="border-bottom:1px solid #ccc; padding-bottom: 16px;">
         <div class="row" style="font-size: 14px; width: 780px;">
<div class="col-md-3">
  <label> WINNINGS</label><br/>
 <strong> 25,00,000</strong>
</div>
<div class="col-md-3 text-center">  <label>WINNERS</label><br/>
<strong style="color: #c51d23">62,500</strong></div>
<div class="col-md-3 text-right">
    <label>ENTRY FEE
    </label><br/>
   <strong>99</strong></div>

</div>
<div style="margin: 10px 0">
    <div class="progress" style="width: 85%;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">79,568 left</div>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary float-right" style="position: relative; bottom: 19px;" >Join</button>
  </div>
</div>
<div style="border-bottom:1px solid #ccc;padding-bottom: 16px;">
    <div class="row" style="font-size: 14px; width: 780px;">
<div class="col-md-3">
<label> WINNINGS</label><br/>
<strong> 25,00,000</strong>
</div>
<div class="col-md-3 text-center">  <label>WINNERS</label><br/>
<strong style="color: #c51d23">62,500</strong></div>
<div class="col-md-3 text-right">
<label>ENTRY FEE
</label><br/>
<strong>99</strong></div>

</div>
<div style="margin: 10px 0">
<div class="progress" style="width: 85%;">
   <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">79,568 left</div>
 </div>
 <button type="button" class="btn btn-sm btn-outline-secondary float-right" style="position: relative; bottom: 19px;" >Join</button>
</div>
</div>
<div style="border-bottom:1px solid #ccc;    padding-bottom: 16px;">
    <div class="row" style="font-size: 14px; width: 780px;">
<div class="col-md-3">
<label> WINNINGS</label><br/>
<strong> 25,00,000</strong>
</div>
<div class="col-md-3 text-center">  <label>WINNERS</label><br/>
<strong style="color:#c51d23">62,500</strong></div>
<div class="col-md-3 text-right">
<label>ENTRY FEE
</label><br/>
<strong>99</strong></div>

</div>
<div style="margin: 10px 0">
<div class="progress" style="width: 85%;">
   <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">79,568 left</div>
 </div>
 <button type="button" class="btn btn-sm btn-outline-secondary float-right" style="position: relative; bottom: 19px;" >Join</button>
</div>
</div>
       
         </p-tabPanel>
         <p-tabPanel header="TEAMS">
            kdfldlfl;df;lk
          </p-tabPanel>
          <p-tabPanel header="WINNERS">
              kdfldlfl;df;lk
            </p-tabPanel>
            <p-tabPanel header="ENTRY">
                kdfldlfl;df;lk
              </p-tabPanel>
         </p-tabView>
  </div>
  <!-- <div class="create-team__team-selector__footer text-upper ctFooter_07b1f">
  
    <div class="create-team__team-selector__footer-action-container text-upper">
      <div class="row" style="width: 700px;">
        <a href="javascript:void(0)" routerLink="/createCaptain" style="margin: 0 auto;">
          <button type="button" class="btn btn-sm btn-light">SAVE TEAM</button>
        </a>
      </div>
    </div>
  </div> -->