<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 cricketorTeamList">
      <a routerLink="/dashboard">
        <span class="fas fa-arrow-left arrowLeft"></span>
      </a>
      <div class="cricketTeamTitle">
        <h4>MY CONTESTS</h4>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="matchListContainer col-md-6 col-xs-12">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="bs-example">
            <div class="btn-group" data-toggle="buttons">
              <div class="col-md-3 col-xs-12">
                <button type="button" class="btn btn-primary btncolor" style="width: 120px" routerLink="/usercontest">Fixtures</button>
              </div>
              <div class="col-md-3 col-xs-12">
                <button type="button" class="btn btn-primary btncolor" style="width: 120px">Live</button>
              </div>
              <div class="col-md-3 col-xs-12">
                <button type="button" class="btn btn-primary btncolor" style="width: 120px">Results</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div *ngIf="usercontest">
                <div class="row borderBtm" *ngFor="let match of usermatch">
                  <div class="col-md-4 col-xs-12">
                    <div class="lazy-loader lazy-loader--loaded" style="height: auto; width:100%">
                      <a routerLink="/cricketTeam">
                        <img src="http://idtp285/ClientDocument/ece9b4b32cf74084b50c1c65ebb9e6f2CSK-Logo.png" width="70" height="70" />
                      </a>
                    </div>
                  </div>
                  <div class="col-md-5 col-xs-12" style="vertical-align: middle;top: 16px;">
                    <h4>
                      <div>{{match.matchName}}</div>
                    </h4>
                  </div>
                  <div class="col-md-3 col-xs-12">
                    <div class="lazy-loader lazy-loader--loaded" style="height: auto; width: 100%;">
                      <img src="http://idtp285/ClientDocument/09aea0d7263747c5ac4c6843e0d4ad8cdd-logo.jpg" width="70" height="65" class="img" />
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="col-md-12"> Contests Joined</div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <i class="material-icons" (click)="click1()" ng-model="play">keyboard_arrow_right</i>
                  </div>

                  <!-- <div class="row">
                      <div *ngIf="showSelected">
                        <div class="row borderBtm">
                          <div class="col-md-2 col-xs-12">
                            <img width="50px" height="50px" src="https://s3.amazonaws.com/pwaimages/public/imgs/pwa_default_user_avatar.png">
                          </div>
                          <div class="col-md-6 col-xs-12"></div>
                          <div>Test(Demo)</div>
                        </div>
                      </div>
                    </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  
</div>

